<%= form_for [@post,@comment] do |f|%>

	<%= f.label :commentor %><br>
	<%= f.text_field :commentor %><br><br>

	<%= f.label :body %><br>
	<%= f.text_area :body %><br><br>

    <%= f.submit %>

<% end %>