<h1>Posts</h1>


<% @posts.each do |post| %>
	title: <%= post.title %><br \>
	Text: <%= post.text %><br \>
	<%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> 
	
<% end %>


<br \><br \>
<%= link_to 'New Post', new_post_path %>

<br \><br \>
