<h1>Post:</h1>

title: <%= @post.title %> 
<br \>
Text: <%= @post.text %> 


<br \>

<h1>Comments:</h1>

<% @post.comments.each do |comment| %>

Commentor: <%= comment.commentor %><br>
Body: <%= comment.body %><br>
<%=link_to 'Edit', edit_post_comment_path(@post,comment)%>
<br><br>
<% end %>

<%=link_to 'New Comment', new_post_comment_path(@post)%>